@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
:root {
 
    --main-bg-color: #0d0d11;
    --seco-bg-color: #121217;
    --main-font-color: #d4d4d4;
    --head-font-color: rgb(240, 240, 240);
    --the-color: #557cff;
    --the-color-hover: #4c6fe4d3;

  
}

::-webkit-scrollbar {
  width: 6px;
;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--the-color);
  border-radius: 2px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--the-color-hover);
}
html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 50px; 

}
body {
    direction: rtl;
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: 'Cairo', sans-serif;
    
}
nav {
    width: 23%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: var(--seco-bg-color);
    color: var(--head-font-color);
    box-shadow: -1px 0px 10px 5px #00000061;
  
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10px;   
  }
  
  li a {
    display: block;
    color:  var(--head-font-color);
    padding: 8px 16px;
    text-decoration: none;
    transition: 0.4s;
    
 
  }
  
  .active{
    color: var(--the-color);
    border-right: 2px solid var(--the-color);
    
  }
  
  
  li a:hover {
    background-color: var(--main-bg-color);

  }

main {
  margin-right:23%;
  padding:1px 16px;
  height:1000px;
}

.head {
  padding-right: 2%;
    color: var(--head-font-color);
    border-right:4px solid var(--the-color);
    border-radius: 1%;
    background-color: var(--seco-bg-color);
    padding: 5px 10px 5px 0;

}

.in-text {
  color: var(--the-color);
  font-family:  monospace;
  font-size: 19px;
  background-color: var(--seco-bg-color);
  padding: 2px;
  border-radius:4px ;
}

section {
  font-size:17px;
  margin-top: 5%;
  
  
}
/* messges */
.alert {
  /* background: var(--seco-bg-color); */
  background: var(--seco-bg-color);
  color: rgba(247, 46, 46, 0.856);
  padding: 10px 20px;
  border-radius: 3px;
  width: fit-content;

}
.alert::before {
  font-family: 'Material Icons';
  content: "\e8b2";
     color: rgb(255, 60, 60);
     font-size: 25px;
     padding-left: 15px;
}
.info {
   
  background: var(--seco-bg-color);
  padding: 10px 20px;
  border-radius: 3px;
  width:fit-content;
  color: #cacc3d;
 
  
 
}
.info::before {
  font-family: 'Material Icons';
  content: "\e88e";
  font-size: 25px; 
  color: #fcff52d3;
  line-height: 100%;
  padding-left: 15px;
}

/* end messges */
pre {
  border:1px solid rgb(238 238 238 / 14%);
  border-radius: 7px;
  box-shadow: 0px 5px 6px 3px #00000061;
 
}


.empty {

  width: 100%;
  height: 600px;
  border:1px solid rgba(129, 129, 129, 0.473);
  border-radius: 10px;
  background: var(--seco-bg-color);
}

